{% extends 'base.html' %}

{% block _body %}
    {% if user.is_authenticated %}
        <form method="post" action="">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.title.label}}<br/>
                {{form.title(class="form-control", type="text")}}
            </div>
            <div class="form-group">
                {{form.body.label}}<br/>
                {{form.body(class="form-control", rows="7")}}
            </div>
            <div class="form-group">
                {{form.is_private()}} {{form.is_private.label}}
            </div>
            <br/>
            {{form.submit(class="btn btn-primary", type="submit")}}
            <br/>
            <br/>
            <button class="btn btn-danger" onclick="location.href='/poems'">Отмена</button>
        </form>
    {% else %}
        <div class="alert alert-warning" role="alert">
            Внимание! Вы не можете создавать поэзию, не <a href="/signup">зарегистрировавшись</a> или не <a href="/signin">авторизовавшись</a>!
        </div>
    {% endif %}
{% endblock %}