{% extends 'base.html' %}
{% block _header %}
  <table class="table table-light text-center">
      <tbody>
        <tr>
          <td><a href="/poem/create">Сочинить</a></td>
          <td><a href="/poems">Стихи</a></td>
          <td><a href="/authors">Авторы</a></td>
          {% if user.is_authenticated %}
            <td><a href="/signout">Выйти</a></td>
          {% else %}
            <td><a href="/signup">Регистрация</a></td>
            <td><a href="/signin">Войти</a></td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    <hr/>
{% endblock %}
{% block _body %}
    {% if user.is_authenticated %}
        <div class="container">
          <h2 class="text-center">Добро пожаловать в лоно поэзии, {{user.login}} (он же {{user.name}})</h2>
          <h4 class="text-center">Наш сервис считает своим долгом напомнить наш девиз: <em><strong>"Ваши стихи достойны быть услышанными"</strong></em></h4>
          <hr/>
          <h5>Мы стремимся сделать стихосложение удобным, чтобы каждый желающий мог поделиться своими чувствами с окружающими, если он того хочет</h5>
        </div>
    {% else %}
        Lain. Who is it?
    {% endif %}
{% endblock %}