{% extends 'base.html' %}
{% block _header %}
  <table class="table table-light text-center">
      <tbody>
        <tr>
          <td><a href="/poem/create">Сочинить</a></td>
          <td><a href="/poems">Стихи</a></td>
          <td><a href="/authors">Авторы</a></td>
          {% if user.is_authenticated %}
            <td><a href="/signout">Выйти</a></td>
          {% else %}
            <td><a href="/signup">Регистрация</a></td>
            <td><a href="/signin">Войти</a></td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    <hr/>
{% endblock %}
{% block _body %}
    {% if user.is_authenticated %}
        <div class="container">
          <h2 class="text-center">Добро пожаловать в лоно поэзии, {{user.login}} (он же {{user.name}})</h2>
          <h4 class="text-center">Наш сервис считает своим долгом напомнить наш девиз: <em><strong>"Ваши стихи достойны быть услышанными"</strong></em></h4>
          <br/>
          <div class="container">
            <h3>К чему мы стремимися?</h3>
            <h5>Мы стремимся сделать стихосложение удобным, чтобы каждый желающий мог поделиться своими чувствами с окружающими, если он того хочет</h5>
          </div>
          <hr/>
          <div class="container">
            <h3>Но почему же именно Поэмика?</h3>
            <h5>Все крайне просто.</h5>
            <h5>Нам хотелось сделать удобный сервис для стихосложения, поэтому и пришла такая идея. Конечно, на данный момент нам приходится полностью доверять
              своим пользователям, однако мы надеемся, что они не будут нарушать <a href="/rules">правила</a> нашего сообщества 😊
            </h5>
            <h5>
              Стоит также отметить, что название сайта менялось несколько раз. Самое первое - <q>Poem Creator</q> - постепенно стало известной Вам <q>Поэмикой</q>
            </h5>
          </div>
        </div>
    {% else %}
        <div class="alert alert-warning" role="alert">
          <h3>
            Чтобы воспользоваться полным спектром услуг нашего сайта - <a href="/signup">зарегистрируйтесь</a> или <a href="/signin">войдите</a> в аккаунт
          </h3>
          <small>
            Мы серьезно. Лучше творить хоть под псевдонимом, чем никак. Заранее спасибо за понимание
          </small>
          <br/>
          <small>А пока что можете посмотреть текущих авторов и их творения 😊</small>
        </div>
    {% endif %}
{% endblock %}