{% extends 'base.html' %}

{% block _body %}
    <div class="container-fluid bg-dark">
        <div class="container bg-light">
            <h2 class="text-center">Великие и непоколебимые правила Поэмики</h2>
            <ol>
                <li>Запрет на темы нацизма, фашизма, ультранасилия, насилия над детьми (если этого не требует реализм), и прочего контента схожего содержания</li>
                <li>Убедительная просьба не оскорблять других участников сообщества. Мы все поэты, мы должны быть людьми культуры, а не варварства</li>
            </ol>
        </div>
    </div>
{% endblock %}