{% extends 'base.html' %}
{% block _body %}
    <form method="post" action="">
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.login.label}}<br/>
            {{form.login(type="text", class="form-control")}}
        </div>
        <div class="form-group">
            {{form.name.label}}<br/>
            {{form.name(type="text", class="form-control")}}
        </div>
        <div class="form-group">
            {{form.email.label}}<br/>
            {{form.email(type="email", class="form-control")}}
        </div>
        <div class="form-group">
            {{form.password.label}}<br/>
            {{form.password(type="password", class="form-control")}}
        </div>
        <div class="form-group">
            {{form.password_again.label}}<br/>
            {{form.password_again(type="password", class="form-control")}}
        </div>
        <div class="form-group">
            {{form.description.label}}<br/>
            {{form.description(class="form-control")}}
        </div>
        <br/>
        <div class="form-group">
            {{form.submit(type="submit", class="form-control btn btn-primary")}}
        </div>
    </form>
{% endblock %}